<!DOCTYPE html>
<html lang="en">
    <head>
            <!-- Import Styles -->
    <link rel="stylesheet" href="./CSS/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="nav-bar">
                
            </div>
            <h1>{{title}}</h1>
            Navn: <input type="text"v-model="aktieNavn">
               Antal: <input type="number" v-model="antal">
               Handelspris: <input type="number" v-model="aktiehandelsPris"><br><br>
            <button @click="postAktiehandel">Accepter handel</button>

            <br>
            <br>

            <button @click="getAllAktiehandler">Hent aktiehandler</button>

            <table class="OversigtAktieHandel">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>AktieNavn</th>
                        <th>Antal</th>
                        <th>Handelspris</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="aktie in filtherSortedAktiehandler" :key="aktie.id">
                        <td>{{aktie.id}}</td>
                        <td>{{ aktie.aktieNavn }}</td>
                        <td>{{ aktie.antal }}</td>
                        <td>{{ aktie.handelspris }}</td>
                    </tr>
                </tbody>
            </table>






        </div>
        </div>

        <!--Import App-->
            <script src="./js/main.js"></script>

        <!-- Mount App -->
        <script>
            const mountedApp = app.mount('#app')
        </script>
        <!--Import axios-->
        <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>

    
    </body>
</html>